body{
    background-color: #E5E7EB;
}
  /* Estilos para dispositivos móveis */
.principal{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

@media (max-width: 1000px){
    .principal{
        width: 100px;
        margin-left: auto;
        margin-right: 0;
        transition: 0.5s;
}
}

nav{
  position: sticky;
  background-color: #FCF9F6;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.192);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  width: 200px;
  padding: 20px;
}

h2{
    margin-bottom: 40px;
    display: flex;
    font-size: 26px;
    align-items: center; 
    color: gray;
    justify-content: flex-start; 
    position: relative;
    left: 0%;
}

.entradas{
  display: flex;
  max-width: 30px;
  width: 100%;
  flex-direction: column;
}

#titulo{
    transition: 0.5s;
}

nav .shopping i{
    font-size: 30px;
}

nav .shopping{
  display: flex;
}

nav .shopping span{
    background-color: rgb(255, 161, 113);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 100%;
    width: 580px; /* Updated width */
    max-width: 100%; /* Added max-width */
    background-color: #2c2928;
    height: 100vh;
    transition: 0.5ms;
    overflow-y: scroll;
}

@media (max-width: 886px) {
    .active .card {
        position: fixed;
        right: calc(100% - 100%);
        width: 100%;
        height: 100vh;
        transition: 0.5ms;
    }
       .active body {
        overflow: hidden;
    }
}
.active .card {
    right: calc(100% - 100%);
}


.card h1{
    position: sticky;
    background-color: #2c2928;
    color:rgb(255, 161, 113);
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

@media (max-width:886px){
    .card h1{
        font-size: 30px;
    }
}

.card .checkOut {
    position: sticky;
    top: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
    background-color: rgb(255, 161, 113);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 100px;
}

.card .checkOut div:nth-child(2) {
    background-color: #53ca89;
    color: #000000;
}

.card .checkOut div:nth-child(2):hover{
    background-color: rgba(82, 194, 132, 0.849);
    color: #000000;
}

.close{
    z-index: 9999;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: #ff0505;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    font-size: 20px;
}

.close:hover{
    color: #fff;
}

.active .container{
    transform: translateX(-200px);
}

.listCard li{
    display: grid;
    grid-template-columns: 200px repeat(6, 1fr);
    color: #fff;
    row-gap: 30px;
    column-gap: 20px;
}

@media (max-width: 886px){
    .listCard li{
        display: grid;
        justify-content: start;
        grid-template-columns: 100px repeat(6, auto);
        color: #fff;
        row-gap: 30px;
        font-size: 14px;
        column-gap: 10px;
    }
}

ul.listCard {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 10px;
    width: 350px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard div{
    margin-top: 20px;
}

@media (max-width:600px){

    .listCard li div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .listCard div{
        width: 95%;
        margin-top: 15px;
    }
}


.listCard li img{
    width: 90%;
}

.listCard .quanti{
    margin-top: 30px;
    width: 90px;
}

.listCard .cor{
    margin-top: 30px;
    width: 70px;
}

.listCard li button {
    margin-top: 30px;
    width: 28px;
    height: 32px;
    background-color: rgb(255, 161, 113);
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
}

.listCard li button:active{
    background-color: rgb(255, 161, 113,0.432);
}

.listCard .count{
    margin: 0 10px;
}

.yellow {
    color: yellow;
}

.table{
  width: 100%;
  max-height: 80vh;
  margin-bottom: 0px;
  margin-right: 0;
  background-color: #ffffff8f;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  transition: 0.5s;
}

.tabela_consulta{
  max-width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.5s;
}

.table-container {
  max-height: 450px; 
  width: 100%;
  overflow-y: auto; 
  transition: 0.5s;
  border: solid 1px #bdbdbd;
  border-radius: 10px;
}

  @media (max-width: 1200px){
    .tabela_consulta {
      max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

.responsive-table thead {
    display: none;
}

.responsive-table td,
.responsive-table th {
    display: block;
    text-align: center;
}

.responsive-table td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
}

.filter-wrapper {
  display: grid;
  transition: 0.5s;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 10px;
  padding: 20px;
  background: #f3f3f3;
  border: solid 1px #bdbdbd;
  border-radius: 10px;
}

.limpar_filtros{
  width: 160px;
  padding: 10px;
  margin-top: 30px ;
  height: 40px;
  background-color: rgb(255, 161, 113);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}

.table__header{
  max-width: 80%;
  height: 90px;
  background: #f3f3f3;
  padding: .8rem 1rem;
  border: solid 1px #bdbdbd;
  border-radius: 10px;
}

.filter-wrapper div {
  width: 80%;
  font-weight: bold;
}

@media (max-width: 1000px) {
    .filter-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 100%;
        background: #f3f3f3;
        align-content: center;
        justify-content: space-evenly;
        align-items: end;
        justify-items: center;
    }
    .table__header {
      max-width: 100%;
      height: 90px;
      background: #f3f3f3;
      padding: .8rem 1rem;
      border: solid 1px #bdbdbd;
      border-radius: 10px;
  }
    .filter-wrapper div {
      width: 100%;
    }
    .tabela_consulta {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      transition: 0.5s;
    }
  }

.filter-wrapper2 {
  display: grid;
  transition: 0.5s;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 10px;
  padding: 20px;
  background: #f3f3f3;
  border: solid 1px #bdbdbd;
  border-radius: 10px;
  justify-content: center;
}

.filter-wrapper2 div {
    width: 100%;
    margin-right: 10px;
}

.filtrar_preco{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 1250px) {
  .filtrar_preco{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .filter-wrapper2 div {
    width: 40%;
    margin-right: 10px;
}
.filter-wrapper2 {
  display: grid;
  transition: 0.5s;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 10px;
  padding: 20px;
  background: #f3f3f3;
  border: solid 1px #bdbdbd;
  border-radius: 10px;
  justify-content: end;
}

}

@media (max-width: 1000px) {
    .filter-wrapper2 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      max-width: 100%;
      background: #f3f3f3;
      align-content: center;
      justify-content: space-evenly;
      align-items: end;
      justify-items: center;
    }
    .filtrar_preco{
      display: grid;
      grid-template-columns: 1fr;
    }
    .filter-wrapper2 div {
      width: 150px;
    }
}

#limpar {
  background: rgb(255, 161, 113);
  border: 2px solid rgb(255, 142, 85);
  border-radius: 4px;
  outline: none;
  padding: 0.5em 0.8em;
  width: 160px;
  margin-right: 15px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

@media (max-width:1000px){
    #limpar {
      background: rgb(255, 161, 113);
      border: 2px solid rgb(255, 142, 85);
      border-radius: 4px;
      outline: none;
      padding: 0.5em 0.8em;
      width: 90%;
      margin-right: 15px;
      color: #ffffff;
      font-size: 1em;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      cursor: pointer;
      outline: none;
    }
}

#limpar:hover {
  background: rgb(255, 142, 85);;
  outline: none;
}

#limpar:active {
  background: rgb(255, 142, 85);;
  outline: none;
}

@media (max-width: 1000px) {

    button .aumentar{
        right: 0;
    }

    button .diminuir{
        right: 0;
    }
}
.selected {
    border: 3px solid rgb(255, 161, 113);
}

select{
  width: 90%;
  padding-left: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fffffff1;
}

@media (max-width: 1000px) {
  select{
    width: 90%;
    padding-left: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fffffff1;
}
}

input{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fffffff1; 
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  #alerta_Os{
    margin: 0;
    padding: 10px;
    z-index: 9999;
    width: 30%;
    left: 50%;
    top: 10%;
    transform: translate(-50%,100%);
    animation: fadeOut 10s forwards;
    opacity: 0;
    position: absolute;
  }
  
  #alerta_login{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    background-color: #fc8383;
    color: #b12121;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    z-index: 9999;
    width: 30%;
    left: 50%;
    top: 15%;
    transform: translate(-50%,100%);
    animation: fadeOut 5s forwards;
    opacity: 0;
    position: absolute;
  }

  @media (max-width:600px){

  #alerta_Os{
      margin: 0;
      padding: 10px;
      z-index: 9999;
      width: 80%;
      left: 50%;
      top: 10%;
      transform: translate(-50%,0%);
      animation: fadeOut 5s forwards;
      opacity: 0;
      position: absolute;
  }
  #alerta_login{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    background-color: #fc8383;
    color: #b12121;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    z-index: 9999;
    width: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%,100%);
    animation: fadeOut 10s forwards;
    opacity: 0;
    position: absolute;
  }
}

.label-text {
    display: none;
  }

  @media (max-width: 600px) {
    .label-text {
      display: inline;
      font-weight: bold;
      margin-right: 5px;
    }
  }
  
  .custom-checkbox {
    transform: scale(1.4); /* Ajuste o valor conforme necessário para aumentar ou diminuir o tamanho do checkbox */
  }

@media (max-width: 600px) {
  .custom-checkbox {
    transform: scale(1.8); /* Ajuste o valor conforme necessário para aumentar ou diminuir o tamanho do checkbox */
  }
}

  #table1th,
  #table1 td {
    border: none; /* Remova as bordas das células se necessário */
  }
  
.btn-primary{
    background-color: rgb(255, 161, 113);
    font-weight: bold;
    border: none;
}

.btn-primary:hover{
    background-color: rgb(247, 135, 79);
}

.btn-primary:active{
    background-color: rgb(247, 135, 79);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(255, 150, 98);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(255, 150, 98);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle{
    margin-left: 5px;
  }

  .switch2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .active2 {
    background-color: rgb(255, 150, 98);
  }
  
  .active2 .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .hidden {
    display: none;
  }

  #filtrar {
    background: rgb(255, 161, 113);
    border: 2px solid rgb(255, 142, 85);
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    width: 160px;
    margin-right: 15px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  #filtrar:hover {
    background: rgb(255, 142, 85);;
    outline: none;
  }
  
  #filtrar:active {
    background: rgb(255, 142, 85);;
    outline: none;
  }

  .gerar_proposta{
    background: rgb(255, 161, 113);
    border: 2px solid rgb(255, 142, 85);
    border-radius: 4px;
    outline: none;
    padding: 15px;
    width: 250px;
    margin-right: 15px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }

  .gerar_proposta:hover {
    background: rgb(255, 142, 85);;
    outline: none;
  }
  
  .gerar_proposta:active {
    background: rgb(255, 142, 85);;
    outline: none;
  }

  .consulta_precos{
    background: rgb(2, 199, 117);
    border: 2px solid rgb(0, 170, 99);
    border-radius: 4px;
    outline: none;
    padding: 15px;
    width: 250px;
    margin-right: 15px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }

  .consulta_precos:hover {
    background: rgb(0, 158, 92);
    outline: none;
  }
  
  .consulta_precos:active {
    background: rgb(0, 158, 92);
    outline: none;
  }

@media (max-width:1000px){
  #filtrar {
    background: rgb(255, 161, 113);
    border: 2px solid rgb(255, 142, 85);
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    width: 90%;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  .gerar_proposta{
    background: rgb(255, 161, 113);
    border: 2px solid rgb(255, 142, 85);
    border-radius: 4px;
    outline: none;
    padding: 15px;
    width: 100%;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  .consulta_precos{
    background: rgb(0, 185, 108);
    border: 2px solid rgb(0, 194, 113);
    border-radius: 4px;
    outline: none;
    padding: 15px;
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  .botoes_gerar_consultar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    align-content: center;
    flex-wrap: wrap;
    height: 50vh; /* Ocupa 100% da altura da janela do navegador */
  }
  .opcoes_botoes{
    display: flex;
    flex-direction: column;
  }
}

.botoes_gerar_consultar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  align-content: center;
  flex-wrap: wrap;
  height: 50vh; /* Ocupa 100% da altura da janela do navegador */
}

.botao-voltar {
  display: flex;
  height: 40px;
  max-width: 20px;
  border-radius: 50%;
  color: #333;
  border: none;
  z-index: 4;
  background-color: #e5e7eb00;
  place-items: center;
  padding: 0.5em;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-selection--single {
  display: flex;
  background-color: #fff;
  border: 1px solid #aaa ;
  border-radius: 4px;
  height: 37.5px !important; /* Use !important */
  align-items: center;
}

.filtros{
  display: flex;
  justify-content: space-between;
}