{% extends "layout.html" %}
{% block body %}

<style>
    /* Estilos para dispositivos móveis */
    @media only screen and (max-width: 600px) {
    .responsive-table {
        max-width: 100%;
        overflow-x: auto;
    }

    .responsive-table thead {
        display: none;
    }
    
    .responsive-table td,
    .responsive-table th {
        display: block;
        text-align: center;
    }
    
    .responsive-table td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    }
</style>

<div class="container pt-4">
    <h2>Lista de favoritos</h2>
    <div style="position: relative;">
        <a href="/export/pdf">
            <i class='fas fa-file-pdf' style='font-size:20px;color:red'></i>
        </a>
        <table id="table2" class="table table-striped responsive-table">
            <thead>
                <tr>
                    <th>Família</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row.familia}}</td>
                    <td>{{row.codigo}}</td>
                    <td>{{row.descricao}}</td>
                    <td style="white-space: nowrap;">{{row.preco}}</td>
                    <td>
                        <a href="/remove/{{row.id}}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/move-carrinho-favorito/{{row.id}}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}