{% extends "layout.html" %}
{% block body %}
    
<div class="container pt-4">
    <div style="position: relative;">
        <a href="/export/pdf-all">
            <i class='fas fa-file-pdf' style='font-size:20px;color:red'></i>
        </a>
        <table id="table1" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Família</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.familia}}</td>
                    <td>{{row.codigo}}</td>
                    <td>{{row.descricao}}</td>
                    <td>
                        <a href="/move/{{row.id}}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-star"></i>
                        </a>
                        <!-- <a href="/export/pdf" class="btn btn-secondary btn-sm">
                            <i class="fas fa-star"></i>
                        </a> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}