{% extends "layout.html" %}
{% block body %}

<form class="botoes_gerar_consultar" method="post">

   <h1 style="font-size: 30px;">Selecione uma opção:</h1>
   <button class="gerar_proposta" type="submit" name="option" value="lista">Gerar Proposta</button>
   <button class="consulta_precos" type="submit" name="option" value="consulta">Consulta de preços</button>

</form>

<style>
   .custom-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: #f5f5f5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Outros estilos personalizados aqui */
   }
</style>

<div class="container pt-4" style="transition: 0.5s;">
   <div class="row">
      <div class="col-md-6 mb-3">
        <div class="input-group" style="width: 65%;">
          <input type="text" id="searchInput" class="form-control" placeholder="Filtrar qualquer valor">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
      {% for dado in data %}
      <div class="col-md-4 mb-3">
         <div class="custom-card">
            <div class="card-body">
               <!-- <h5 class="card-title">{{ dado.DealId }}</h5> -->
               <h6 class="card-text">Cliente: {{ dado.ContactName }} - {{ dado.DealId }}</h6>
               <p class="card-text">Aceito: {% if dado.ExternallyAccepted == 'Sim' %}
                  <span style="color: green;">{{ dado.ExternallyAccepted }}</span>
                  {% else %}
                  <span style="color: red;">{{ dado.ExternallyAccepted }}</span>
                  {% endif %}
               </p>
               <p class="card-text">Status:
                  {% if dado.StatusId == 1 %}
                  <span style="color: blue;">Em Aberto</span>
                  {% elif dado.StatusId == 2 %}
                  <span style="color: green;">Ganha</span>
                  {% elif dado.StatusId == 3 %}
                  <span style="color: red;">Perdida</span>
                  {% endif %}
               </p>
               <p class="card-text">Data: {{ dado.LastUpdateDate}}</p>
               <p class="card-text">Valor: R$ {{ dado.Amount}}</p>
               {% if dado.StatusId == 2 or dado.StatusId == 3 %}
               <a></a>
               <a></a>
               {% else %}
               <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalGanhar('{{ dado.DealId }}')">Ganhar</a>
               <a class="btn btn-danger btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModal('{{ dado.DealId }}')">Perder</a>
               {% endif %}
               <a class="btn btn-info btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="reenviarEmail('{{ dado.DealId }}', '{{ dado.ContactName }}')">Reenviar e-mail</a>

            </div>
         </div>
         <div class="modal fade" id="funcionarioModal" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="funcionarioModalLabel"></h5>
                     <button type="button" class="close" aria-label="Fechar" style="padding: 42px;">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="form-group2">
                        <div class="form-modal">
                           <div class="form-group">
                              <label for="editar_ativo">Escolha o motivo</label>
                              <select class="form-control form-control" id="editar_ativo" name="editar_ativo"
                                 id="editar_ativo" required>
                                 {% for motivo in lista_motivos %}
                                 <option value="{{ motivo.Id }}">{{ motivo.Name}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                           <div>
                              <button id="filtrar">Perder</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="modalGanhar" tabindex="-1" role="dialog" aria-labelledby="funcionarioModalLabel"
            aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="funcionarioModalLabel"></h5>
                     <button type="button" class="close" aria-label="Fechar" style="padding: 42px;">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     
                           
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>

<div class="alert alert-success" id="success-alert" style="display: none;">
   <strong>Sucesso!</strong> A ação foi confirmada com êxito.
</div>

<div id="loading-overlay" style="display: none;">
   <div id="loading-spinner"></div>
</div>

<script>
   // Script para procurar na lista de cards
   document.getElementById("searchInput").addEventListener("input", function () {
      var searchValue = this.value.toLowerCase();
      var cards = document.querySelectorAll(".custom-card");

      cards.forEach(function (card) {
         var cardText = card.textContent.toLowerCase();
         if (cardText.includes(searchValue)) {
            card.style.display = "block";
         } else {
            card.style.display = "none";
         }
      });
   });
</script>

<script>
   function showModal(dealId) {
      $("#loading-overlay").show();
      $.ajax({
         success: function () {
            $('.modal-title').text('Confirmar - ' + dealId);

            $('#funcionarioModal').modal('show');

            // Ocultar a tela de carregamento após um pequeno atraso (500 milissegundos)
            setTimeout(function () {
               $("#loading-overlay").hide(); // Esconde o indicador de carregamento
            }, 10);

            // Fechar o modal ao clicar no botão de fechar
            $('#funcionarioModal').on('click', '.close', function () {
               $('#funcionarioModal').modal('hide');
            });

            // When the 'Perder' button is clicked
            $('#filtrar').on('click', function () {
               var selectedOption = $('#editar_ativo').val(); // Get the selected option
               $("#loading-overlay").show();
               // Send a POST request to the backend
               $.ajax({
                  url: '/perda',
                  type: 'POST',
                  data: {
                     dealId: dealId,
                     selectedOption: selectedOption
                  },
                  success: function (response) {
                     var dealId = response.dealId;
                     var selectedOption = response.selectedOption;
                     window.location.reload();
                     $("#loading-overlay").hide();
                  },
                  error: function (error) {
                     console.log(error);
                  }
               });
            });
         },
         error: function (error) {
            alert('Essa Ordem de Serviço não contém imagem ou vídeo');
            console.log(error);
         }
      });
   }
</script>

<script>
   function reenviarEmail(dealId, nomeCliente) {
      // Exiba o overlay de carregamento
      $("#loading-overlay").show();

      // Dados a serem enviados para o backend
      const data = {
         dealId: dealId,
         nomeCliente: nomeCliente
      };

      // Configuração da solicitação
      const requestOptions = {
         method: 'POST', // Use 'POST' para enviar dados para o backend
         headers: {
            'Content-Type': 'application/json' // Tipo de conteúdo JSON
         },
         body: JSON.stringify(data) // Converte os dados em formato JSON
      };

      // URL do endpoint no seu backend
      const backendEndpoint = '/reenviarEmail';

      // Faça a solicitação POST para o backend
      fetch(backendEndpoint, requestOptions)
         .then(response => {
            if (!response.ok) {
               throw new Error('Erro ao enviar dados para o backend');
            }
            return response.json(); // Se o backend responder com JSON
         })
         .then(responseData => {
            // Manipule a resposta do backend, se necessário
            console.log('Resposta do Backend:', responseData);

            // Oculte o overlay após receber a resposta
            $("#loading-overlay").hide();
         })
         .catch(error => {
            console.error('Erro:', error);

            // Oculte o overlay em caso de erro também
            $("#loading-overlay").hide();
         });
   }

</script>

<script>
   function showModalGanhar(dealId) {
      $("#loading-overlay").show();
      $.ajax({
         success: function () {
            $('.modal-title').text('Confirmar - ' + dealId);

            $('#modalGanhar').modal('show');

            // tabela

            // Ocultar a tela de carregamento após um pequeno atraso (500 milissegundos)
            setTimeout(function () {
               $("#loading-overlay").hide(); // Esconde o indicador de carregamento
            }, 10);

            // Fechar o modal ao clicar no botão de fechar
            $('#modalGanhar').on('click', '.close', function () {
               $('#modalGanhar').modal('hide');
            });

            // Send a GET request to the backend
            $.ajax({
               url: '/escolherProposta',
               type: 'GET',
               data: {
                  dealId: dealId,
               },
               success: function (response) {
                  // Preencher a modal com os dados recebidos
                  var modalBody = $('.modal-body'); // Selecione o elemento com a classe modal-body
                  modalBody.empty(); // Limpe o conteúdo existente

                  $.each(response, function (index, item) {

                     var formattedAmount = 'R$ ' + parseFloat(item.Amount).toLocaleString('pt-BR', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                     });

                     // Crie um card para cada item
                     var card = $('<div class="card1">');
                     var cardBody = $('<div class="card-body1">');
                     
                     // Adicione o conteúdo do card
                     cardBody.append('<h5 class="card-title1">' + formattedAmount + '</h5>');
                     cardBody.append('<a href="' + item.DocumentUrl + '" class="card-link" target="_blank">Link</a>');
                     
                     // Adicione um botão de confirmar ao card
                     var confirmButton = $('<button class="btn btn-info btn-sm ganhar">Confirmar</button>');
                     
                     // Adicione um evento de clique para os botões de confirmar
                     confirmButton.on('click', function () {
                        $("#loading-overlay").show();

                        var id = item.Id; // Obtenha o ID do item
                        // Envie as informações da linha para o backend por meio de uma solicitação AJAX
                        $.ajax({
                           url: '/ganhar',
                           type: 'POST',
                           contentType: 'application/json',
                           data: JSON.stringify({
                              dealId: dealId,
                              id: id,
                           }),
                           success: function (response) {
                              window.location.reload();
                              // Lide com a resposta do backend, se necessário
                              $('#success-alert').fadeIn();
                              // Esconder o alerta após alguns segundos (por exemplo, 5 segundos)
                              setTimeout(function () {
                                 $('#success-alert').fadeOut();
                              }, 5000); // 5000 milissegundos (5 segundos)
                              $("#loading-overlay").hide();
                           },
                           error: function (error) {
                              console.log(error);
                           }
                        });
                     });

                     cardBody.append(confirmButton);
                     card.append(cardBody);
                     
                     // Adicione o card à modal
                     modalBody.append(card);
                  });

                  $("#loading-overlay").hide();
               },
               error: function (error) {
                  console.log(error);
               }
            });

         },
         error: function (error) {
            alert('Esse negócio não possui proposta');
            console.log(error);
         }
      });
   }
</script>

{% endblock %}