{% extends "layout.html" %}
{% block body %}

<form class="botoes_gerar_consultar" method="post">

   <h1 style="font-size: 30px;">Selecione uma opção:</h1>
   <button class="gerar_proposta" type="submit" name="option" value="lista">Gerar Proposta</button>
   <button class="consulta_precos" type="submit" name="option" value="consulta">Consulta de preços</button>

</form>

<style>
   .custom-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: #f5f5f5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Outros estilos personalizados aqui */
   }
</style>

<div class="container pt-4" style="transition: 0.5s;">
   <div class="row">
      <div class="col-md-6 mb-3">
         <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar">
      </div>
   </div>
   <div class="row">
      {% for dado in data %}
      <div class="col-md-4 mb-3">
         <div class="custom-card">
            <div class="card-body">
               <!-- <h5 class="card-title">{{ dado.DealId }}</h5> -->
               <h6 class="card-text">Cliente: {{ dado.ContactName }}</h6>
               <p class="card-text">Aceito: {% if dado.ExternallyAccepted == 'Sim' %}
                  <span style="color: green;">{{ dado.ExternallyAccepted }}</span>
                  {% else %}
                  <span style="color: red;">{{ dado.ExternallyAccepted }}</span>
                  {% endif %}
               </p>
               <p class="card-text">Data: {{ dado.Date}}</p>
               <p class="card-text">Valor: R$ {{ dado.Amount}}</p>
               <a href="#" class="btn btn-success">Ganhar</a>
               <a class="btn btn-danger" data-toggle="modal" data-target="#modalPerder">Perder</a>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>

<script>
   // Script para procurar na lista de cards
   document.getElementById("searchInput").addEventListener("input", function () {
      var searchValue = this.value.toLowerCase();
      var cards = document.querySelectorAll(".custom-card");

      cards.forEach(function (card) {
         var cardText = card.textContent.toLowerCase();
         if (cardText.includes(searchValue)) {
            card.style.display = "block";
         } else {
            card.style.display = "none";
         }
      });
   });
</script>

{% endblock %}